*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    margin: 60px auto;
}
.container{
    display: flex;
}
.container img{
    max-width: 160px;
    animation-delay: .5s;
    transition: .5s ease-in-out;
}
.container-1{
    display: flex;
}
.container-1 img{
    max-width: 160px;
    display: none;
}